<app-navbar>
  <app-page-title title="Manage Events"></app-page-title>
  <mat-progress-bar mode="indeterminate" *ngIf="!events || !pastEvents"></mat-progress-bar>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" id="eventManager" *ngIf="events && pastEvents">
    <div class="cards" fxFlex>
      <mat-toolbar class="mat-primary rounded-bar">
        Upcoming events
        <div class="spacer"></div>
        <mat-icon aria-hidden="false" aria-label="Refresh" class="refresh">refresh</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Add Event" class="add" matTooltip="Add new event" routerLink="/admin/events/new">add_box</mat-icon>
      </mat-toolbar>
      <mat-accordion *ngIf="events.length == 0">
        <mat-expansion-panel [disabled]="true">
          <mat-expansion-panel-header>
            No upcoming events.
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion *ngFor="let event of events">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ event.displayName }}
          </mat-expansion-panel-header>
          <app-event-details [event]="event"></app-event-details>
          <mat-action-row>
            <button routerLink="/admin/events/{{ event._id }}" mat-button>EDIT</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="cards" fxFlex>
      <mat-toolbar class="mat-primary rounded-bar">
        Past events
        <div class="spacer"></div>
        <mat-icon aria-hidden="false" aria-label="Refresh" class="refresh">refresh</mat-icon>
      </mat-toolbar>
      <mat-form-field>
        <input (keyup)="applyPastFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <mat-accordion *ngIf="pastEventsSource.length == 0">
        <mat-expansion-panel [disabled]="true">
          <mat-expansion-panel-header>
            No past events
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion *ngFor="let past of pastEventsSource">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ past.displayName }}
          </mat-expansion-panel-header>
          <app-event-details [event]="past"></app-event-details>
          <mat-action-row>
            <button routerLink="/admin/events/{{ past._id }}" mat-button>EDIT</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</app-navbar>
