<app-navbar>
  <app-page-title title="Manage User"></app-page-title>
  <mat-card *ngIf="user" class="z-depth center">
    <mat-card-header>
      <mat-card-title>Edit user {{ user.fullName }} ({{ user._id }})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Name:</b> {{ user.fullName }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>User tags:</b> {{ user.userTags }}</p>
      <p><b>Auth Token:</b> {{ user.auth.strategy }};{{ user.auth.profileID }}</p>
      <p><b>Phone Number:</b> {{ user.phone || 'Not provided'}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button routerLink="/admin/users">Back</button>
      <div fxFlex></div>
      <button (click)="addTag()" color="primary" mat-raised-button>Add tag</button>
      <button (click)="removeTag()" color="primary" mat-raised-button>Remove tag</button>
      <button (click)="giveAdmin()" *ngIf="!user.isAdmin" color="warn" mat-raised-button>Give admin</button>
      <button (click)="removeAdmin()" *ngIf="user.isAdmin" color="warn" mat-raised-button>Remove admin</button>

    </mat-card-actions>
  </mat-card>
</app-navbar>
