<app-navbar>
  <app-page-title title="About"></app-page-title>
  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>About Parfait</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Meet Connect To Care's online volunteer platform, Parfait.</p>
      <p><b>Deployed version:</b> {{ configService.config.hash }} ({{ configService.config.debug ? 'debug' : 'prod' }})
      </p>
      <br>
      <p>We are Connect To Care, an Eden Prairie based non-profit.</p>
      <p>This website was made by <a href="mailto:alec@connect-tocare.org">Alec Dusheck</a>.</p>
    </mat-card-content>
  </mat-card>
</app-navbar>
