<app-navbar>
  <app-page-title title="About"></app-page-title>
  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>About Parfait</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Meet Connect To Care's online volunteer platform, Parfait.</p>
      <p><b>Commit ID:</b> {{ configService.config.hash }}</p>
      <br>
      <p>We are Connect To Care, an Eden Prairie based non-profit.</p>
      <p>This is a <b>simplyalec</b> website. alec@simplyalec.com</p>
      <p>Like coding? We do too! View source code and contribute by checking out our <a href="https://github.com/Connect-To-Care/">Github</a>.</p>
    </mat-card-content>
  </mat-card>
</app-navbar>
