<app-navbar>
  <app-page-title title="DECA"></app-page-title>
  <mat-progress-bar mode="indeterminate" *ngIf="!bigError"></mat-progress-bar>

  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>Please wait...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="!bigError">Please wait, checking for CTC x DECA events...</p>
      <p *ngIf="bigError" class="error"><b>Sorry, failed to sign up:</b> {{ bigError }}</p>
    </mat-card-content>
  </mat-card>
</app-navbar>
