<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <div fxHide.gt-sm="true" fxShow="true">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img routerLink="/" src="/assets/logoFull.png" alt="Connect To Care">
    <span class="spacer"></span>
    <div *ngIf="apiService.userSession && apiService.userSession.data.user.isAdmin && !hideLinks" fxHide.lt-md="true" fxShow="true" id="adminNav">
      <a *ngFor="let link of navBarAdmin" mat-button routerLink="{{ link.url }}"> {{ link.title }} <mat-icon>{{ link.icon }}</mat-icon></a>
    </div>
    <div *ngIf="apiService.userSession && !hideLinks" fxHide.lt-md="true" fxShow="true" id="linksNav">
      <a *ngFor="let link of navBarLinks" mat-button routerLink="{{ link.url }}"> {{ link.title }} <mat-icon>{{ link.icon }}</mat-icon></a>
    </div>
    <div fxHide.lt-md="true" fxShow="true" *ngIf="apiService.userSession && !hideLinks" id="loggedInNav">
      <button mat-button [matMenuTriggerFor]="accountMenu">{{ apiService.userSession.data.user.name.fullName }} <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        <button *ngFor="let link of accountLoggedIn" mat-menu-item routerLink="{{ link.url }}">{{ link.title }}</button>
      </mat-menu>
    </div>
    <div fxHide.lt-md="true" fxShow="true" *ngIf="!apiService.userSession && !hideLinks" id="loggedOutNav">
      <button mat-button [matMenuTriggerFor]="accountMenu">Account <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        <button *ngFor="let link of accountLoggedOut" mat-menu-item routerLink="{{ link.url }}">{{ link.title }}</button>
      </mat-menu>
    </div>
    <div fxHide.lt-md="true" fxShow="true" id="announcementsNav" *ngIf="!hideLinks">
      <a *ngFor="let link of navBarAnnouncements" href="{{ link.url }}" mat-button> {{ link.title }} </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav class="mat-primary" fxHide.gt-sm="true" fxLayout="column" mode="over" opened="false">
    <div fxLayout="column" *ngIf="!hideLinks">
      <div *ngIf="apiService.userSession && apiService.userSession.data.user.isAdmin">
        <a *ngFor="let link of navBarAdmin" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="apiService.userSession">
        <a *ngFor="let link of navBarLinks" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="apiService.userSession">
        <a *ngFor="let link of accountLoggedIn" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="!apiService.userSession">
        <a *ngFor="let link of accountLoggedOut" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div>
        <a *ngFor="let link of navBarAnnouncements" class="sidenav-btn" href="{{ link.url }}"
           mat-button> {{ link.title }} </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
