<mat-toolbar>
  <mat-toolbar-row>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <h1>Connect To Care</h1>
    <span class="spacer"></span>
    <div class="full-nav" fxShow="true" fxHide.lt-md="true">
      <a *ngFor="let link of navBarAnnouncements" mat-button href="{{ link.url }}"> {{ link.title }} </a>
      <a *ngFor="let link of navBarLinks" mat-button routerLink="{{ link.url }}"> {{ link.title }} </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a *ngFor="let link of navBarAnnouncements" mat-button href="{{ link.url }}"> {{ link.title }} </a>
      <a *ngFor="let link of navBarLinks" mat-button routerLink="{{ link.url }}"> {{ link.title }} </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
