.spacer {
  flex: 1 1 auto;
}

img {
  max-width: 27vh;
  object-fit: cover;
  width: 100%;
}

/* Fix bug a double-scroll bar and Angular Material */
/* No idea why this happens */
mat-sidenav-container {
  height: auto !important;
}

.sidenav-btn {
  width: 100%;
}
