<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <div fxHide.gt-sm="true" fxShow="true">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img alt="Connect To Care" routerLink="/" src="/assets/logoFull.png">
    <span class="spacer"></span>
    <div *ngIf="apiService.userSession && apiService.userSession.data.user.isAdmin && !hideLinks" fxHide.lt-md="true"
         fxShow="true" id="adminNav">
      <a *ngFor="let link of navBarAdmin" mat-button routerLink="{{ link.url }}"> {{ link.title }}
        <mat-icon>{{ link.icon }}</mat-icon>
      </a>
    </div>
    <div *ngIf="apiService.userSession && !hideLinks" fxHide.lt-md="true" fxShow="true" id="linksNav">
      <a *ngFor="let link of navBarLinks" mat-button routerLink="{{ link.url }}"> {{ link.title }}
        <mat-icon>{{ link.icon }}</mat-icon>
      </a>
    </div>
    <div *ngIf="apiService.userSession && !hideLinks" fxHide.lt-md="true" fxShow="true" id="loggedInNav">
      <button [matMenuTriggerFor]="accountMenu" mat-button>{{ apiService.userSession.data.user.name.fullName }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        <button *ngFor="let link of accountLoggedIn" mat-menu-item routerLink="{{ link.url }}">{{ link.title }}</button>
      </mat-menu>
    </div>
    <div *ngIf="!apiService.userSession && !hideLinks" fxHide.lt-md="true" fxShow="true" id="loggedOutNav">
      <button [matMenuTriggerFor]="accountMenu" mat-button>Account
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        <button *ngFor="let link of accountLoggedOut" mat-menu-item
                routerLink="{{ link.url }}">{{ link.title }}</button>
      </mat-menu>
    </div>
    <div *ngIf="!hideLinks" fxHide.lt-md="true" fxShow="true" id="announcementsNav">
      <a *ngFor="let link of navBarAnnouncements" href="{{ link.url }}" mat-button> {{ link.title }} </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav [autoFocus]="false" class="mat-primary" fxHide.gt-sm="true" fxLayout="column" mode="over"
               opened="false">
    <div *ngIf="!hideLinks" fxLayout="column">
      <div *ngIf="apiService.userSession && apiService.userSession.data.user.isAdmin">
        <a *ngFor="let link of navBarAdmin" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="apiService.userSession">
        <a *ngFor="let link of navBarLinks" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="apiService.userSession">
        <a *ngFor="let link of accountLoggedIn" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div *ngIf="!apiService.userSession">
        <a *ngFor="let link of accountLoggedOut" class="sidenav-btn" mat-button
           routerLink="{{ link.url }}"> {{ link.title }} </a>
      </div>
      <div>
        <a *ngFor="let link of navBarAnnouncements" class="sidenav-btn" href="{{ link.url }}"
           mat-button> {{ link.title }} </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
