<app-navbar>
  <app-page-title title="Welcome!"></app-page-title>
  <mat-progress-bar *ngIf="!bigError" mode="indeterminate"></mat-progress-bar>

  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>Please wait...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="!bigError">Please wait, signing in...</p>
      <div id="error" *ngIf="bigError">
        <p><b>Sorry, failed to sign in:</b> {{ bigError }}</p>
        <button mat-raised-button color="primary">Back to dashboard</button>
      </div>
    </mat-card-content>
  </mat-card>
</app-navbar>
