<app-navbar>
  <app-page-title title="Login to your account"></app-page-title>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>Please login to your Connect To Care account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a (click)="loading = true" href="{{ this.configService.config.googleOAuthURL }}" mat-list-item>
          <img src="/assets/googleLogin.png">
          Login using Google </a>
      </mat-nav-list>
    </mat-card-content>
    <p>We care about your privacy. <a href="https://www.connect-tocare.org/privacy">Learn more</a> about how we protect it.</p>
  </mat-card>
</app-navbar>
