<app-navbar>
  <app-page-title title="Login"></app-page-title>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title>Login to your account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a (click)="loading = true" href="{{ this.configService.config.googleOAuthURL }}" mat-list-item>
          <img src="/assets/googleLogin.png">
          Login using Google </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</app-navbar>
