<app-navbar>
  <app-page-title title="Browse events"></app-page-title>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" id="eventManager">
    <div [@listStagger]="availableEvents" class="cards" fxFlex.lt-md="1 1 60%" fxFlex.lt-sm="0 1">
      <mat-toolbar class="mat-primary rounded-bar">
        Available Events
        <div class="spacer"></div>
        <mat-icon matTooltip="Refresh" (click)="refreshEvents()" aria-hidden="false" aria-label="Refresh"
                  class="refresh">refresh
        </mat-icon>
      </mat-toolbar>
      <mat-card *ngIf="availableEvents.length == 0">
        <mat-card-content>
          <p>
            No events currently available.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card *ngFor="let event of availableEvents">
        <mat-card-header>
          <mat-card-title>{{ event.displayName }}</mat-card-title>
          <mat-card-subtitle>{{ formatDate(event.startTime) }} - {{ formatDate(event.endTime) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><b>About:</b> {{ event.description }}</p>
          <p><b>Signed up ({{ event.signedUp.length }}/{{ event.maxSignups }}):</b> {{ formatMembers(event.signedUp)}}
          </p>
          <p *ngIf="event.facilitators.length > 0"><b>Facilitators:</b> {{ formatMembers(event.facilitators)}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="checkEventFacilitator(event)" (click)="signUp(event)" mat-button
                  matTooltip="Sign up for this event">SIGN UP
          </button>
          <a mat-button matTooltip="Contact the facilitators of this event"
             href="{{ formatMailto(event) }}">CONTACT</a>
          <div fxFlex></div>
          <button *ngIf="!checkEventFacilitator(event)" (click)="enterCode(event)" mat-button
                  matTooltip="Become an event facilitator">ENTER CODE
          </button>
          <button *ngIf="checkEventFacilitator(event)" routerLink="/admin/events/{{ event._id }}" mat-button
                  matTooltip="Edit event details">FACILITATOR EDIT
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex.lt-md="1 1 40%" fxFlex.lt-sm="0 1">
      <mat-toolbar class="mat-primary rounded-bar">
        Your Events
        <div class="spacer"></div>
        <mat-icon matTooltip="Refresh" (click)="refreshMyEvents()" aria-hidden="false" aria-label="Refresh"
                  class="refresh">refresh
        </mat-icon>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab>
          <ng-template matTabLabel>
            <span matBadge="{{ myEvents.future.length }}" matBadgeOverlap="false">Upcoming</span>
          </ng-template>
          <mat-accordion *ngIf="myEvents.future.length == 0">
            <mat-expansion-panel [disabled]="true">
              <mat-expansion-panel-header>
                No upcoming events.
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion *ngFor="let future of myEvents.future">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                {{ future.displayName }}
              </mat-expansion-panel-header>
              <p><b>Time:</b> {{ formatDate(future.startTime) }} - {{ formatDate(future.endTime) }}</p>
              <p><b>About:</b> {{ future.description }}</p>
              <p><b>Signed up ({{ future.signedUp.length }}/{{ future.maxSignups }}
                ):</b> {{ formatMembers(future.signedUp)}}</p>
              <p *ngIf="future.facilitators.length > 0"><b>Facilitators:</b> {{ formatMembers(future.facilitators)}}</p>
              <mat-action-row>
                <button (click)="drop(future)" mat-button>DROP</button>
                <a mat-button matTooltip="Contact the facilitators of this event"
                   href="{{ formatMailto(future) }}">CONTACT</a>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>
            <span matBadge="{{ myEvents.past.length }}" matBadgeOverlap="false">Past</span>
          </ng-template>
          <mat-accordion *ngIf="myEvents.past.length == 0">
            <mat-expansion-panel [disabled]="true">
              <mat-expansion-panel-header>
                No past events.
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion *ngFor="let past of myEvents.past">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                {{ past.displayName }}
              </mat-expansion-panel-header>
              <p><b>Time:</b> {{ formatDate(past.startTime) }} - {{ formatDate(past.endTime) }}</p>
              <p><b>About:</b> {{ past.description }}</p>
              <p><b>Signed up ({{ past.signedUp.length }}/{{ past.maxSignups }}):</b> {{ formatMembers(past.signedUp)}}
              </p>
              <p *ngIf="past.facilitators.length > 0"><b>Facilitators:</b> {{ formatMembers(past.facilitators)}}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-navbar>
