<app-navbar>
  <header class="mat-primary">
    <div id="headerContent">
      <div id="headline">
        <h1>Connect To Care Volunteering</h1>
        <h2>Help us change the world by working with us.</h2>
      </div>
      <div id="action" fxLayout="row" fxLayoutAlign="center center">
        <a mat-raised-button routerLink="/login">Join us</a>
      </div>
    </div>
  </header>
  <div id="background"></div>
  <div id="details">
    <mat-card class="z-depth center">
      <mat-card-header>
        <mat-card-title>Welcome to Parfait!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This is Parfait, Connect To Care's online volunteer platform. Parfait will allow you to easily register for Connect To Care powered events and will provide you with notifications.</p>
        <p>To get started, sign in using your Google account and register for events. Be aware that some events may require special qualification and are not offered to all.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="z-depth center">
      <mat-card-header>
        <mat-card-title>Our Mission</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Connect To Care aims to provide everyone a chance to be the change in their lives and empower themselves to carve their own future. </p>
        <p>As part of this, we strive to connect student volunteers to organizations that need them the most. <a href="mailto:contact@connect-tocare.org">Contact us</a> to learn more about using our platform for your organization.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="z-depth center">
      <mat-card-header>
        <mat-card-title>Making an impact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Everyone should be able to access stable incomes, affordable housing and other necessities humans deserve. Connect To Care helps organizations who help people in need in our communities by facilitating events and bringing volunteers together.</p>
      </mat-card-content>
    </mat-card>
  </div>
</app-navbar>
