#eventManager {
  margin: 20px;
}

.cards {
  width: 100%;
}

mat-card {
  margin-bottom: 10px;
}

.rounded-bar {
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1vh;
}
