<app-navbar>
  <app-page-title title="Browse events"></app-page-title>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" id="eventManager">
    <div class="cards" fxFlex.lt-md="0 0 60%" fxFlex.lt-sm="0 1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Big event</mat-card-title>
          <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Help us at EPHS!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SIGN UP</button>
          <button mat-button>CONTACT</button>
        </mat-card-actions>
      </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Big event</mat-card-title>
        <mat-card-subtitle>October 23, 11:00AM - October 23, 12:00AM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Help us at EPHS!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SIGN UP</button>
        <button mat-button>CONTACT</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <mat-tab-group fxFlex.lt-md="0 0 40%" fxFlex.lt-sm="0 1">
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="5" matBadgeOverlap="false">Upcoming Events</span>
        </ng-template>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              This is the expansion 1 title
            </mat-expansion-panel-header>
            This the expansion 1 content
            <mat-action-row>
              <button mat-button>Click me</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="20" matBadgeOverlap="false">Past Events</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-navbar>
