mat-form-field {
  width: 100%;
}

#recurDays {
  padding-left: 10px;
}

.mat-chip-notattended {
  background-color: rgb(240, 128, 128) !important;
}

.mat-chip-attended {
  background-color: rgb(104, 240, 104) !important;
}
