<app-navbar>
  <app-page-title title="Manage Event"></app-page-title>
  <mat-card class="z-depth center">
    <mat-card-header>
      <mat-card-title *ngIf="event">Edit event {{ event.displayName }} ({{ event._id }})</mat-card-title>
      <mat-card-title *ngIf="!event">New event</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="eventForm">
        <mat-form-field>
          <input formControlName="displayName" matInput
                 maxlength="100" minlength="1" placeholder="Display Name" type="text">
          <mat-error *ngIf="eventForm.get('displayName').hasError('required')">
            Display Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="description" matInput
                 maxlength="100" minlength="1" placeholder="Description" type="text">
          <mat-error *ngIf="eventForm.get('description').hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="facilitatorCode" matInput
                 maxlength="100" minlength="1" placeholder="Facilitator Code" type="text">
          <mat-error *ngIf="eventForm.get('facilitatorCode').hasError('required')">
            Facilitator Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="maxSignups" matInput
                 placeholder="Max Signups" type="number">
          <mat-error *ngIf="eventForm.get('maxSignups').hasError('required')">
            Max signups is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [matDatepicker]="startPicker" formControlName="startTime" matInput placeholder="Start Time">
          <mat-datepicker-toggle [for]="startPicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startPicker type="datetime"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input [matDatepicker]="endPicker" formControlName="endTime" matInput placeholder="End Time">
          <mat-datepicker-toggle [for]="endPicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #endPicker type="datetime"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #tagsList aria-label="RequiredTags">
            <mat-chip (removed)="removeTag(tag)" *ngFor="let tag of eventForm.get('requiredTags').value"
                      [removable]="true" [selectable]="false">
              {{tag}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (matChipInputTokenEnd)="addTag($event)"
                   [matChipInputFor]="tagsList"
                   placeholder="Required tags">
          </mat-chip-list>
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #signedUpList aria-label="Signed up">
            <mat-chip (removed)="removeSignedUp(signUp.user)" *ngFor="let signUp of eventForm.get('signedUp').value"
                      [removable]="true" [selectable]="false">
              {{signUp.user.fullName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (matChipInputTokenEnd)="addSignedUp($event)"
                   [matChipInputFor]="signedUpList"
                   placeholder="Signed up">
          </mat-chip-list>
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #facilitatorsList aria-label="Signed up">
            <mat-chip (removed)="removeFacilitator(person)" *ngFor="let person of eventForm.get('facilitators').value"
                      [removable]="true" [selectable]="false">
              {{person.fullName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (matChipInputTokenEnd)="addFacilitator($event)"
                   [matChipInputFor]="facilitatorsList"
                   placeholder="Facilitators">
          </mat-chip-list>
        </mat-form-field>
        <mat-checkbox formControlName="isRecurring">Recurring event</mat-checkbox>
        <mat-error *ngIf="eventForm.get('isRecurring').hasError('required')">
          Is Recurring is <strong>required</strong>
        </mat-error>
        <mat-form-field *ngIf="eventForm.get('isRecurring').value" id="recurDays">
          <input formControlName="recurringDays" matInput
                 placeholder="Days to recur" type="number">
          <mat-error *ngIf="eventForm.get('recurringDays').hasError('required')">
            Recurring Days is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button routerLink="/admin/events">Back</button>
      <div fxFlex></div>
      <button *ngIf="event" [disabled]="eventLoading" color="primary" mat-raised-button (click)="onSubmit()">Update</button>
      <button *ngIf="event" [disabled]="eventLoading" color="warn" mat-raised-button (click)="delete()">Delete</button>
      <button *ngIf="!event" [disabled]="eventLoading" color="primary" mat-raised-button (click)="onSubmit()">Create</button>
    </mat-card-actions>
  </mat-card>
</app-navbar>
