#eventManager {
  padding: 30px;
}

.cards {
  width: 100%;
}

mat-card {
  margin-bottom: 10px;
}

.refresh,
.updateUnqualified {
  cursor: pointer;
}

.updateUnqualified {
  padding-right: 5px;
}

.mat-button-wrapper {
  color: rgba(0, 0, 0, 0.87) !important;
}

.recurring {
  color: red;
  font-size: 0.5rem;
  margin-left: 2px;
  position: relative;
}

.notQualified {
  color: red;
}
