/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  width: 75%;
  margin: 10px auto;
}

.rounded-bar {
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.spacer {
  flex: 1 1 auto;
}
